:root {
  --red: #dc3545;
}

/*! -------------- 1- NAVBAR ---------------- */

.navbar {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-link {
  color: black;
  transition: color 0.5s;
}
.nav-link:hover {
  color: var(--red);
}

/*! ------------- 2- CAROUSEL --------------- */

.carousel-item {
  max-height: calc(100vh - 88px);
}

.carousel-item h5 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--red);
  text-shadow: 3px 3px 3px black;
}

.carousel-item p {
  font-weight: 600;  
  text-shadow: 3px 3px 3px black;
}

.carousel-item .btn {
  width: 6rem;
  margin-bottom: 1rem;
}

.carousel-indicators button {
  background-color: var(--red) !important;
  height: .4rem !important;
  width: 3rem !important;
  margin-right: .4rem !important;
}

/*! ------------ 3- ABOUT SECTION ----------- */

/*! ------------- 4- INSTRUCTORS -------------*/

section#instructors .card {
  transition: transform 0.5s;
}
section#instructors .card:hover {
  transform: scale(1.05);
}

section#instructors .socials i {
  transition: opacity 0.5s;
}

section#instructors .socials i:hover {
  opacity: 0.5;
}

/*! ----------- 4- STUDENTS SECTION ----------*/

section#students img {
  max-width: 400px;
  min-width: 250px;
}

/*! ----------- 5- COURSES SECTION ----------- */

/*! ----------- 6- CONTACT SECTION ------------ */

/** -------------- UP-BUTTON ------------------ */

/*! --------------- 7- FOOTER ----------------- */
